<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Rick y Morty <span class="text-danger">APP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    Inicio <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="personajes">
                    Personajes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="episodios">
                    Capitulos
                </a>
            </li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <app-form-search></app-form-search>
        </div>
    </div>
</nav>