<div class="row" infinie-scroll (scrolled)="onScrollBajar()">
    
    <app-form-search></app-form-search>
    
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">

        <app-character [character]="character"></app-character>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notfound" *ngIf="characters.length <= 0">
        No resultados....
    </div>
</div>
<button
[ngClass]="'no-hidden'"
*ngIf="showGoUpButton"
class="btn btn-dark m-3"
(click)="onScrollSubir()"
>

<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>

</button>