<div class="row justify-content-center mt-3" *ngIf="character$ | async as character">
    <div class="col-xs-12 col-sm-6 col-md-4 justify-content-center">

        <app-character [character]="character"></app-character>
        
    </div>
    
</div>
<button (click)="btnRegresar()" class="btn btn-primary btn-lg m-3">
    Regresar
</button>