<div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Bienvenidos</h1>
            <p class="lead my-3">
                Gracias por la oportunidad y el aprendizaje que pude obtener, espero sea de su agrado el pequeño proyecto y su funcionalidad.
                Disculpen mi falta de experiencia.
            </p>
            <p class="lead mb-0"><a class="nav-link text-white font-weight-bold">¡Gracias!</a></p>
            <p class="lead mb-0"><a class="nav-link text-white">Haz clic en los siguientes enlaces para ver la lista de personajes o haz clic en la pestañas para ver los listados.</a></p>
            <p class="lead mb-0"><a class="nav-link text-primary font-weight-bold" [routerLink] = "['/personajes']">Ver Personajes</a></p>
            <p class="lead mb-0"><a class="nav-link text-primary font-weight-bold" [routerLink] = "['/episodios']">Ver Episodios</a></p>
        </div>
    </div>
</div>