html{
    scroll-behavior: smooth;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.container{
    margin-top: 5rem;
}
.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #fff;
    max-width: 529px;
    transition: all 0.2 ease-in-out;
    &:hover{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
    }
    img{
        opacity: 0.7;
        width: 100%;
        transition: opacity 0.7;
        &:hover{
            opacity: 1;
        }
    }

    .card-inner{
        padding: 10px;
    }
}

.no-hidden{
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}

@media(max-width: 570px){
    .card{
        img{
            opacity: 1;
        }
    }
}